services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres-greenlight
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_greenlight:/var/lib/postgresql/data

volumes:
  postgres_data_greenlight:
